<%- include("partials/header") -%>

    <h1>Home</h1>
    <p><%= homeStartingContent %></p>
    <% blogs.reverse().forEach(function(blog) { %>
      <h3><%= blog.title %> </h3>
      <h5><%= blog.date %></h5>
      <p><%= blog.content.substring(0,100) %>
        <% if(blog.content.length > 100) {%>
          ...
          <a href="/blogs/<%= blog._id %>">Read More</a>
        <% } %>
      </p>
    <% }); %>

<%- include("partials/footer") -%>
